<h1>Gather and Clean Data</h1>

<h4>Import Dependencies</h4>

In [5]:
import requests 
import json
from pprint import pprint
import os
import pandas as pd
import csv

<h4>Read in GDP csv data</h4>

In [6]:
# Import GDP data
path_gdp = os.path.join("Resources", "GDP_1980_to_1999.csv")
gdp_df = pd.read_csv(path_gdp, encoding = "ISO-8859-1", engine='python')
gdp_df.head()

,ï»¿Country Name,Country Code,1980,1981,1982,1983,1984,1985,1986,1987,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,4.054634e+08,4.876025e+08,...,7.648871e+08,8.721387e+08,9.584632e+08,1.082980e+09,1.245688e+09,1.320475e+09,1.379961e+09,1.531944e+09,1.665101e+09,1.722799e+09
1,Afghanistan,AFG,3.641723e+09,3.478788e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,5.930503e+09,5.550483e+09,5.550483e+09,5.784342e+09,6.131475e+09,7.553560e+09,7.072063e+09,8.083872e+09,...,1.122876e+10,1.060378e+10,8.307811e+09,5.768720e+09,4.438321e+09,5.538749e+09,7.526447e+09,7.648377e+09,6.506230e+09,6.152923e+09
3,Albania,ALB,NaN,NaN,NaN,NaN,1.857338e+09,1.897050e+09,2.097326e+09,2.080796e+09,...,2.028554e+09,1.099559e+09,6.521750e+08,1.185315e+09,1.880952e+09,2.392765e+09,3.199643e+09,2.258516e+09,2.545967e+09,3.212119e+09
4,Andorra,AND,4.464161e+08,3.889587e+08,3.758960e+08,3.278618e+08,3.300707e+08,3.467380e+08,4.820006e+08,6.113164e+08,...,1.029048e+09,1.106929e+09,1.210014e+09,1.007026e+09,1.017549e+09,1.178739e+09,1.223945e+09,1.180597e+09,1.211932e+09,1.239876e+09

In [ ]:
# Import Weather data
# Import temperature data

<h4>Read in Country ISO3 Codes csv and creat a list</h4>

In [8]:
country_list_df = pd.read_csv("Resources/ISO3_Country_Codes.csv")
annual_rain = []
temp_change = []
countries_found = []
P1980 = []
P1981 = []
P1982 = []
P1983 = []
# P1984 = []
# P1985 = []
# P1986 = []
# P1987 = []
# P1988 = []
# P1989 = []
# P1990 = []
# P1991 = []
# P1992 = []
# P1993 = []
# P1994 = []
# P1995 = []
# P1996 = []
# P1997 = []
# P1998 = []
# P1999 = []
T1980 = []
T1981 = []
T1982 = []
T1983 = []
# T1984 = []
# T1985 = []
# T1986 = []
# T1987 = []
# T1988 = []
# T1989 = []
# T1990 = []
# T1991 = []
# T1992 = []
# T1993 = []
# T1994 = []
# T1995 = []
# T1996 = []
# T1997 = []
# T1998 = []
# T1999 = []
country_code = []


for row in range(len(country_list_df)):
    country_code = country_list_df.iloc[row,0]

    url_pr = f"http://climatedataapi.worldbank.org/climateweb/rest/v1/country/annualavg/pr/1980/1999/{country_code}"
    url_tas = f"http://climatedataapi.worldbank.org/climateweb/rest/v1/country/annualavg/tas/1980/1999/{country_code}"
    
    try: 
        rain = requests.get(url_pr).json()
        temp = requests.get(url_tas).json()
        countries_found.append(country_code)
        P1980.append(rain[0]['annualData'][0])
        T1980.append(temp[0]['annualData'][0])
        P1981.append(rain[1]['annualData'][0])
        T1981.append(temp[1]['annualData'][0])
        P1982.append(rain[2]['annualData'][0])
        T1982.append(temp[2]['annualData'][0])
        P1983.append(rain[3]['annualData'][0])
        T1983.append(temp[3]['annualData'][0])
#         P1984.append(rain[4]['annualData'][0])
#         T1984.append(temp[4]['annualData'][0])
#         P1985.append(rain[5]['annualData'][0])
#         T1985.append(temp[5]['annualData'][0])
#         P1986.append(rain[6]['annualData'][0])
#         T1986.append(temp[6]['annualData'][0])
#         P1987.append(rain[7]['annualData'][0])
#         T1987.append(temp[7]['annualData'][0])        
#         P1988.append(rain[8]['annualData'][0])
#         T1988.append(temp[8]['annualData'][0])        
#         P1989.append(rain[9]['annualData'][0])
#         T1989.append(temp[9]['annualData'][0])
#         P1990.append(rain[10]['annualData'][0])
#         T1990.append(temp[10]['annualData'][0])
#         P1991.append(rain[11]['annualData'][0])
#         T1991.append(temp[11]['annualData'][0])
#         P1992.append(rain[12]['annualData'][0])
#         T1992.append(temp[12]['annualData'][0])
#         P1993.append(rain[13]['annualData'][0])
#         T1993.append(temp[13]['annualData'][0])
#         P1994.append(rain[14]['annualData'][0])
#         T1994.append(temp[14]['annualData'][0])
#         P1995.append(rain[15]['annualData'][0])
#         T1995.append(temp[15]['annualData'][0])
#         P1996.append(rain[16]['annualData'][0])
#         T1996.append(temp[16]['annualData'][0])
#         P1997.append(rain[17]['annualData'][0])
#         T1997.append(temp[17]['annualData'][0])
#         P1998.append(rain[18]['annualData'][0])
#         T1998.append(temp[18]['annualData'][0])
#         P1999.append(rain[19]['annualData'][0])
#         T1999.append(temp[19]['annualData'][0])
        print(country_code)
    except:
        print("Weather data not found for country:" + country_code)
# weather_df = pd.DataFrame({"Countries": countries_found, "Prec 1980": P1980,"Temp 1980": T1980,
#                         "Prec 1981": P1981,"Temp 1981": T1981, "Prec 1982": P1982,"Temp 1982": T1982,
#                         "Prec 1983": P1983,"Temp 1983": T1983, "Prec 1984": P1984,"Temp 1984": T1984,
#                         "Prec 1985": P1985,"Temp 1985": T1985, "Prec 1986": P1986,"Temp 1986": T1986,
#                         "Prec 1987": P1987,"Temp 1987": T1987, "Prec 1988": P1988,"Temp 1988": T1988,
#                         "Prec 1989": P1989,"Temp 1989": T1989, "Prec 1990": P1990,"Temp 1990": T1990,
#                         "Prec 1991": P1991,"Temp 1991": T1991, "Prec 1992": P1992,"Temp 1992": T1992,
#                         "Prec 1993": P1993,"Temp 1993": T1993, "Prec 1994": P1994,"Temp 1994": T1994,
#                         "Prec 1995": P1995,"Temp 1995": T1995, "Prec 1996": P1996,"Temp 1996": T1996,
#                         "Prec 1997": P1997,"Temp 1997": T1997, "Prec 1998": P1998,"Temp 1998": T1998,
#                         "Prec 1999": P1999,"Temp 1999": T1999})
weather_df = pd.DataFrame({"Countries": countries_found, "Prec 1980": P1980,"Temp 1980": T1980,
                        "Prec 1981": P1981,"Temp 1981": T1981, "Prec 1982": P1982,"Temp 1982": T1982,
                        "Prec 1983": P1983,"Temp 1983": T1983})
print(weather_df)

AFG
Weather data not found for country:ALA
ALB
DZA
ASM
AND
AGO
AIA
Weather data not found for country:ATA
ATG
ARG
ARM
ABW
AUS
AUT
AZE
BHS
BHR
BGD
BRB
BLR
BEL
BLZ
BEN
BMU
BTN
BOL
Weather data not found for country:BES
BIH
BWA
Weather data not found for country:BVT
BRA
IOT
VGB
BRN
BGR
BFA
BDI
CPV
KHM
CMR
CAN
CYM
CAF
TCD
CHL
CHN
HKG
MAC
CXR
CCK
COL
COM
COG
COK
CRI
CIV
HRV
CUB
Weather data not found for country:CUW
CYP
CZE
PRK
COD
DNK
DJI
DMA
DOM
ECU
EGY
SLV
GNQ
ERI
EST
SWZ
ETH
FLK
FRO
FJI
FIN
FRA
GUF
PYF
ATF
GAB
GMB
GEO
DEU
GHA
GIB
GRC
GRL
GRD
GLP
GUM
GTM
GGY
GIN
GNB
GUY
HTI
Weather data not found for country:HMD
Weather data not found for country:VAT
HND
HUN
ISL
IND
IDN
IRN
IRQ
IRL
IMN
ISR
ITA
JAM
JPN
JEY
JOR
KAZ
KEN
KIR
KWT
KGZ
LAO
LVA
LBN
LSO
LBR
LBY
LIE
LTU
LUX
MDG
MWI
MYS
MDV
MLI
MLT
MHL
MTQ
MRT
MUS
MYT
MEX
FSM
MCO
MNG
MNE
MSR
MAR
MOZ
MMR
NAM
NRU
NPL
NLD
NCL
NZL
NIC
NER
NGA
NIU
NFK
MKD
MNP
NOR
OMN
PAK
PLW
PAN
PNG
PRY
PER
PHL
PCN
POL
PRT
PRI
QAT
KOR
MDA
REU
ROU
RUS
RWA
Weather data not found for country:BLM
SHN
KNA
LCA
Weather data not found for country:MAF
Weather data not found for country:SPM
VCT
WSM
SMR
STP
SAU
SEN
SRB
SYC
SLE
SGP
Weather data not found for country:SXM
SVK
SVN
SLB
SOM
ZAF
Weather data not found for country:SGS
Weather data not found for country:SSD
ESP
LKA
PSE
SDN
SUR
SJM
SWE
CHE
SYR
TJK
THA
TLS
TGO
TKL
TON
TTO
TUN
TUR
TKM
TCA
TUV
UGA
UKR
ARE
GBR
TZA
UMI
USA
VIR
URY
UZB
VUT
VEN
VNM
WLF
ESH
YEM
ZMB
ZWE
    Countries    Prec 1980  Temp 1980    Prec 1981  Temp 1981    Prec 1982  \
0         AFG   429.926131   9.792919   365.816810   9.314434   637.924110
1         ALB   921.622131  12.125905   635.557800  12.024719   635.797648
2         DZA   160.468723  19.578534   159.807784  20.632273   142.154590
3         ASM  2868.926270  26.079407  2719.935059  27.648254  2476.220459
4         AND   752.728943  12.392548   543.202026  13.115997   600.534180
..        ...          ...        ...          ...        ...          ...
230       WLF  2856.368652  25.900299  2709.551514  27.570969  2613.223022
231       ESH    59.319666  20.937250    79.841124  23.492149    56.583960
232       YEM   390.462574  22.416199   204.838685  26.337465   481.084344
233       ZMB  1456.436292  19.365305  1070.869659  20.559395  1573.102014
234       ZWE  1484.131706  19.450087   585.065481  21.093248  1422.177643

     Temp 1982    Prec 1983  Temp 1983
0    10.520513   244.527996  12.609760
1    12.820943   501.937398  18.750193
2    20.402930   100.116851  24.520738
3    26.008118  3806.089355  28.386688
4    12.878845   421.745819  18.556641
..         ...          ...        ...
230  25.981125  3281.708130  28.287613
231  20.406763    41.664921  25.376587
232  22.779080   133.802857  27.900488
233  18.599091  1145.570764  25.788225
234  18.542377   862.716686  25.561781

[235 rows x 9 columns]

<h4>Create Loop to get in weather API data</h4>