<h4>Explore how weather affects GDP in Industrial based economies</h4>

In [3]:
#import dependencies
import requests 
import json
from pprint import pprint
import os
import pandas as pd
import csv
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [46]:
# Read in Weather Data
path_weather = os.path.join("Resources", "weather_df.csv")
weather_df = pd.read_csv(path_weather)
weather_df["ISO3"] = weather_df["ISO3"].astype("string")
weather_df.head()

   Unnamed: 0  ISO3  Year       Country  Temp_Farenheit  Rainfall_mm
0           0   AFG  1991   Afghanistan       55.210077    36.287492
1           1   AFG  1992   Afghanistan       54.580186    34.013019
2           2   AFG  1993   Afghanistan       55.358849    26.423775
3           3   AFG  1994   Afghanistan       55.544033    28.518532
4           4   AFG  1995   Afghanistan       55.473611    25.074846

In [26]:
# Read in GDP data
path_gdp = os.path.join("Resources", "GDP_1991_to_2016.csv")
gdp_df = pd.read_csv(path_gdp)
gdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1991,1992,1993,1994,1995,1996,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,8.721387e+08,9.584632e+08,1.082980e+09,1.245688e+09,1.320475e+09,1.379961e+09,...,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.747880e+09,1.010923e+10,1.243909e+10,1.585657e+10,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.936264e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,1.060378e+10,8.307811e+09,5.768720e+09,4.438321e+09,5.538749e+09,7.526447e+09,...,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,1.011240e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,1.099559e+09,6.521750e+08,1.185315e+09,1.880952e+09,2.392765e+09,3.199643e+09,...,1.067732e+10,1.288135e+10,1.204422e+10,1.192693e+10,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,1.106929e+09,1.210014e+09,1.007026e+09,1.017549e+09,1.178739e+09,1.223945e+09,...,3.952601e+09,4.085631e+09,3.674410e+09,3.449967e+09,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09

In [54]:
# Filter data for countries with industrial based economies
industrial_ISO3 = [" AGO", " KWT", " MNP", " TLS", " BRN", " GNQ", " AZE", " LBY", " IRQ"]
industrial_df = weather_df[weather_df.ISO3.isin(industrial_ISO3)]

industrial_df.head()

    Unnamed: 0  ISO3  Year  Country  Temp_Farenheit  Rainfall_mm
26          26   AGO  1991   Angola       71.090390    84.832217
27          27   AGO  1992   Angola       71.492975    67.783043
28          28   AGO  1993   Angola       71.363210    79.387952
29          29   AGO  1994   Angola       71.356685    71.830872
30          30   AGO  1995   Angola       72.227525    68.468092