<h4>Explore how weather affects GDP in Industrial based economies</h4>

In [55]:
#import dependencies
import requests 
import json
from pprint import pprint
import os
import pandas as pd
import csv
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [56]:
# Read in Weather Data
file_path = os.path.join("Resources", "Merge_data_2005-2015.csv")
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,ISO3,Country,Year,Temp_Farenheit,Rainfall_mm,GDP
0,0,AFG,Afghanistan,2005,56.087945,29.609967,6.209138e+09
1,1,AFG,Afghanistan,2006,57.501470,27.120458,6.971286e+09
2,2,AFG,Afghanistan,2007,56.320054,25.329681,9.747880e+09
3,3,AFG,Afghanistan,2008,56.755070,21.505365,1.010923e+10
4,4,AFG,Afghanistan,2009,56.807912,31.106477,1.243909e+10

In [57]:
# Filter data for countries with industrial based economies
industrial_ISO3 = ["AGO", "KWT", "MNP", "TLS", "BRN", "GNQ", "AZE", "LBY", "IRQ"]
industrial_df = df[df.ISO3.isin(industrial_ISO3)]

industrial_df.head()

    Unnamed: 0 ISO3 Country  Year  Temp_Farenheit  Rainfall_mm           GDP
44          44  AGO  Angola  2005        72.93929    75.337706  3.697092e+10
45          45  AGO  Angola  2006        71.65607    89.743115  5.238101e+10
46          46  AGO  Angola  2007        71.58845    80.789970  6.526645e+10
47          47  AGO  Angola  2008        71.34569    84.154968  8.853861e+10
48          48  AGO  Angola  2009        72.11462    85.467502  7.030716e+10